[submodule "lrama"]
	path = lrama
	url = https://github.com/ruby/lrama.git
[submodule "racc"]
	path = racc
	url = https://github.com/ruby/racc.git
[submodule "logos"]
	path = logos
	url = https://github.com/maciejhirsz/logos.git
